<div class="bar" [class.main]="toggled">
  <div class="toggle" (click)="onToggle()">
    <mat-icon>{{ toggled ? "expand_more" : "expand_less" }}</mat-icon>
  </div>

  <div class="small-player" *ngIf="!toggled">
    <ng-template [ngTemplateOutlet]="mediaButtons"></ng-template>
    <ng-template [ngTemplateOutlet]="seekBar"></ng-template>
    <ng-template [ngTemplateOutlet]="trackInfo"></ng-template>
  </div>

  <div class="full-player" *ngIf="toggled">
    <div class="controls">
      <div>
        <img class="disk" src="/assets/vinyl.svg" />
      </div>
      <p *ngIf="!playing"> Nothing is playing </p>
      <div class="full-track-info" *ngIf="playing">
        <h4 class="song-name">
          {{playing.name}}
        </h4>
        <p class="game-name">
          {{playing.game_name}}
        </p>
      </div>
      <div>
        <ng-template [ngTemplateOutlet]="seekBar"></ng-template>
      </div>
      <div>
        <ng-template [ngTemplateOutlet]="mediaButtons"></ng-template>
      </div>
    </div>
    <div class="playlist">
      <h4>Play queue</h4>

      <mat-table [dataSource]="playlist">
        <!-- Pos / Music name + uploader / Game name / Length / Options menu -->
        <ng-container matColumnDef="itemNumber">
          <mat-cell *matCellDef="let i = index">
            @if (i === hoverIdx) {
            <mat-icon>drag_handle</mat-icon>
            } @else if (i === currentIndex) {
            <mat-icon>play_arrow</mat-icon>
            } @else {
            {{i+1}}
            }
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="songName">
          <mat-cell *matCellDef="let song">
            <div>
              <div>{{song.name}}</div>
              <span class="small">{{song.uploader}}</span>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameName">
          <mat-cell *matCellDef="let song">{{song.game_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="length">
          <mat-cell *matCellDef="let song">{{song.length | date: "mm:ss"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="menu">
          <mat-cell *matCellDef="let i = index">
            <button mat-icon-button [matMenuTriggerFor]="songMenu" [matMenuTriggerData]="{song: playlist[i], index: i}">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; let i = index; columns: tableColumns;" (mouseenter)="hover(i)"
          (mouseleave)="nohover()"></mat-row>
      </mat-table>
    </div>
  </div>
</div>

<!-- Templates -->
<ng-template #mediaButtons>
  <span class="media-buttons">
    <button mat-icon-button>
      <mat-icon>shuffle</mat-icon>
    </button>
    <button mat-icon-button (click)="previous()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="playPause()" class="play-pause">
      <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
    </button>
    <button (click)="next()" mat-icon-button>
      <mat-icon>skip_next</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>repeat</mat-icon>
    </button>
  </span>
</ng-template>

<ng-template #seekBar>
  <span class="seekbar">
    <span class="time time-elapsed">{{ timeElapsed | date : "mm:ss" }}</span>
    <div class="progress-bar">
      <mat-slider>
        <input matSliderThumb [value]="percElapsed()" (click)="seek(elapsedSlider.value)" #elapsedSlider>
      </mat-slider>
    </div>
    <span class="time time-total">{{ timeTotal | date : "mm:ss" }}</span>
  </span>
</ng-template>

<ng-template #trackInfo>
  <span class="track-info" *ngIf="playing">
    {{ playing.name }} ({{ playing.uploader }}) · <span class="game-name">{{ playing.game_name }}</span>
  </span>
</ng-template>

<mat-menu #songMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-song="song" let-index="index">
    <button mat-menu-item (click)="playAtIndex(index)">
      <mat-icon>play_arrow</mat-icon>
      <span>Play</span>
    </button>
    <button mat-menu-item (click)="remove(song.song_id)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>description</mat-icon>
      <span>Open details</span>
    </button>
    <button mat-menu-item (click)="downloadSong(song)">
      <mat-icon>download</mat-icon>
      <span>Download</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="routeToGame(song.game_id)">
      <mat-icon>arrow_circle_left</mat-icon>
      <span>Go to game</span>
    </button>
    <button mat-menu-item>
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>
  </ng-template>
</mat-menu>