<div class="bar" [class.main]="toggled">
  <div class="toggle" (click)="onToggle()">
    <mat-icon>{{ toggled ? "expand_more" : "expand_less" }}</mat-icon>
  </div>

  <ng-container *ngIf="!toggled">
    <ng-template [ngTemplateOutlet]="mediaButtons"></ng-template>
    <ng-template [ngTemplateOutlet]="seekBar"></ng-template>
    <ng-template [ngTemplateOutlet]="trackInfo"></ng-template>
  </ng-container>

  <div class="full-player" *ngIf="toggled">
    <div class="controls">
      <div>
        <img class="disk" src="/assets/vinyl.svg" />
      </div>
      <div class="full-track-info">
        <ng-template [ngTemplateOutlet]="trackInfo"></ng-template>
      </div>
      <div>
        <ng-template [ngTemplateOutlet]="seekBar"></ng-template>
      </div>
      <div>
        <ng-template [ngTemplateOutlet]="mediaButtons"></ng-template>
      </div>
    </div>
    <div class="playlist">
      <h1>Playlist</h1>

      <mat-table [dataSource]="playlist">
        <!-- Pos / Music name + uploader / Game name / Length / Options menu -->
        <ng-container matColumnDef="itemNumber">
          <mat-cell *matCellDef="let i = index">
            @if (i === hoverIdx) {
            <mat-icon>drag_handle</mat-icon>
            } @else if (i === currentIndex) {
            <mat-icon>play_arrow</mat-icon>
            } @else {
            {{i+1}}
            }
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="songName">
          <mat-cell *matCellDef="let song">
            <div>
              <div>{{song.name}}</div>
              <span class="small">{{song.uploader}}</span>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameName">
          <mat-cell *matCellDef="let song">{{song.game_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="length">
          <mat-cell *matCellDef="let song">{{song.length | date: "mm:ss"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="menu">
          <mat-cell *matCellDef="let i = index">
            <context-menu-button [actions]="menuActions"></context-menu-button>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; let i = index; columns: tableColumns;" (mouseenter)="hover(i)"
          (mouseleave)="nohover()"></mat-row>
      </mat-table>
    </div>
  </div>
</div>

<!-- Templates -->
<ng-template #mediaButtons>
  <span class="media-buttons">
    <button mat-icon-button (click)="previous()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="playPause()" class="play-pause">
      <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
    </button>
    <button (click)="next()" mat-icon-button>
      <mat-icon>skip_next</mat-icon>
    </button>
  </span>
</ng-template>

<ng-template #seekBar>
  <span *ngIf="playing" class="seekbar">
    <span class="time time-elapsed">{{ timeElapsed | date : "mm:ss" }}</span>
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" [value]="percElapsed()" (click)="seek($event)"></mat-progress-bar>
    </div>
    <span class="time time-total">{{ timeTotal | date : "mm:ss" }}</span>
  </span>
  <span *ngIf="!playing"> Nothing is playing </span>
</ng-template>

<ng-template #trackInfo>
  <span class="track-info" *ngIf="playing">
    {{ playing.name }} · {{ playing.game_name }} ({{ playing.uploader }})
  </span>
</ng-template>

<context-menu-container></context-menu-container>