<ng-container *ngIf="loaded$ | async">
  <div class="gamelist">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>

      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Mario Kart"
        #input
      />
    </mat-form-field>

    <mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="game_name">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Game name</mat-header-cell
        >
        <mat-cell *matCellDef="let el">{{ el.game_name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="song_count">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Song count</mat-header-cell
        >
        <mat-cell *matCellDef="let el">{{ el.song_count }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: columsToDisplay"
        (click)="onRowClicked(row)"
      ></mat-row>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </mat-table>
    <mat-paginator
      pageSize="50"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of games"
    ></mat-paginator>
  </div>
</ng-container>
