@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $background-color: mat.get-theme-color($theme, background, background);

  .search {
    background-color: $background-color;

    input {
      background-color: $background-color;
      color: mat.get-theme-color($theme, foreground, text)
    }
  }

  .results {
    border: 1px solid mat.get-theme-color($theme, foreground, divider);
    background-color: mat.get-theme-color($theme, background, background);
  }
}
