<div class="section">
  <div class="header">
    <span>
      <h4>Recently played</h4>
    </span>
  </div>
  <div class="card-container">
    <entry-card *ngFor="let entry of (recentlyPlayed$ | async)" [routerLink]="['/explore/games', entry.game_id]">
      {{entry.game_name}}
    </entry-card>
  </div>
</div>

<div class="section">
  <div class="header">
    <div>
      <h4>Popular games</h4>
    </div>
    <div style="float: right; margin-left: auto;">
      <button mat-button [routerLink]="'/explore/games'">
        <span>View all games</span>
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-container">
    <entry-card *ngFor="let game of (popularGames$ | async)" [routerLink]="['/explore/games', game.game_id]">
      {{game.game_name}}
    </entry-card>
  </div>
</div>

<div class="section" *featureFlag="'v2backend'">
  <div class="header">
    <div>
      <h4>Browse playlists</h4>
    </div>
    <div style="float: right; margin-left: auto;">
      <button mat-button>
        <span>View all playlists</span>
        <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-container">
    <entry-card *ngFor="let i of [1,2,3]">
      Playlist {{i}}
    </entry-card>
  </div>
</div>