@use 'sass:map';
@use '@angular/material' as mat;

@import "material";

$primary: mat.get-theme-color($light-theme, primary, default);
$button-fg: mat.get-theme-color($light-theme, foreground, base);

$type: mat.get-theme-type($light-theme);

$bg: if($type ==light, #f9f9f9, #121212);
$card-bg: if($type ==light, #f2f2f2, #080808);
$text: if($type ==light, #0f0f0f, #f6f6f6);
$text-secondary: if($type ==light, #a1a1a1, #5e5e5e);
$text-accent: if($type ==light, #000, #fff);
$text-accent-inv: if($type ==light, #fff, #000);
$link: $primary;
$gray: if($type ==light, #e0e0e0, #000);
$hover: $gray;
$border: $gray;
$logo: if($type ==light, url("../assets/sb-b.png"), url("../assets/sb-w.png"));

$border-radius: 8px;