/* You can add global styles to this file, and also import other style files */
@import "theme"

body
  padding: 0
  margin: 0

// Typography
body
  font-family: "Roboto", sans-serif
  font-weight: 400
  font-size: 12pt

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-weight: 700

  p
    font-size: 14pt

  small
    font-size: 12.8pt

  .logo
    font-family: "Archivo Narrow", sans-serif
    font-weight: 600

  .tiny
    font-size: 10.2pt

  button
    font-size: 18pt
    font-weight: 700

  h1
    font-size: 61pt

  h2
    font-size: 48.8pt

  h3
    font-size: 39.1pt

  h4
    font-size: 31.3pt

  h5
    font-size: 25pt

  h6
    font-size: 20pt

body
  background-color: $bg
  color: $text

  .card-bg
    background-color: $card-bg

    .text-accent
      color: $text-accent

    .text-accent-inv
      color: $text-accent-inv

    .secondary
      color: $text-secondary

    .gray
      color: $gray
