.banner
  max-width: 50%
  height: auto

.flex-container
  display: flex
  flex-wrap: wrap
  flex-direction: row

.flex-left
  width: 25%

.flex-right
  width: 70%

.songlist
  padding: 2em

.back
    display: inline-block
