<div class="songlist">
  <div *ngIf="loaded$ | async" class="flex-container">
    <div *ngFor="let game of [songlist$ | async]" class="flex-left">

      <h1 #gameName>{{ game?.game_name }}</h1>
      <p>Number of songs: {{ game?.track_count }}</p>
      <div *ngIf="game?.game_banner_exists">
        <img class="banner" [src]="bannerUrl(gameId)" />
      </div>

      <app-song-details [song]="selectedSong$ | async"></app-song-details>
    </div>

    <div class="flex-right">
      <mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="song_name">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let el">{{ el.song_name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="song_length">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Length</mat-header-cell>
          <mat-cell *matCellDef="let el">{{ el.song_length }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="song_loop">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Loop type</mat-header-cell>
          <mat-cell *matCellDef="let el">{{ el.song_loop }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="song_uploader">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Uploader</mat-header-cell>
          <mat-cell *matCellDef="let el">{{ el.song_uploader }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="song_downloads">
          <mat-header-cell mat-sort-header *matHeaderCellDef># Downloads</mat-header-cell>
          <mat-cell *matCellDef="let el">{{ el.song_downloads }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let el">
            <mat-icon class="button" (click)="onPlay(el); $event.stopPropagation()">play_arrow</mat-icon>
            <mat-icon class="button" (click)="onAddToPlaylist(el); $event.stopPropagation()">playlist_add</mat-icon>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: columsToDisplay" class="highlighted-item"
          (click)="onRowClicked(row)"></mat-row>

      </mat-table>
    </div>
  </div>
</div>

<div *ngIf="menuShown">
  <context-menu></context-menu>
</div>