<div class="container">
  <div class="logo">
    <img src="/assets/player-art.png" />
  </div>
  <div class="content mat-typography">
    <h1>About</h1>
    <div class="disclaimer">
      <p>
        <b>Disclaimer</b>
      </p>

      We are a non-profit website and community dedicated to modding custom music into video games.

      <br>
      <br>

      We, in no way, shape or form, advocate for video game or media piracy. You should buy your video games to
      support
      the music creators. The content hosted on our website is meant for non-commercial personal-use, injection into
      and
      to supply modding projects that are aimed and structured towards being used with <b>legally bought games</b>!
    </div>

    <p>
      This website is a continuation of smashcustommusic.com, which was shut down in August 2019 after operating for
      almost 10 years. We are not associated with the original team.
    </p>

    <p>
      The original website was created to house all custom music files created to modify the Super Smash Bros. Brawl
      game for the Wii, which was a very popular scene circa 2009.
    </p>

    <p>
      We are still adding new features and content, if you'd like to contribute, please read the <a
        [routerLink]="'/help'">Help</a> page or visit our Github repository below.
    </p>

    <h3>Our team</h3>
    <ul>
      <li>
        IC: Main Administrator, most of the site code, hosting
      </li>
      <li>
        Jackall4BDN: Administration, site management
      </li>
      <li>
        Asancu., DaKook: Content management, moderation
      </li>
      <li>
        john-wd: Website and player maintainance
      </li>
    </ul>


    <h3>Special thanks</h3>

    <ul>
      <li>
        Rph: Web BRSTM player, Rph and FreeApp2014: Various other contributions
      </li>
      <li>
        Kenrick95: JavaScript module for decoding BRSTMs
      </li>
      <li>
        smashultimatetools.com: NUS3AUDIO conversions
      </li>
      <li>The Negative Ion: Many contributions to the website </li>
      <li>
        Original smashcustommusic / BrawlBRSTMs team and other smashcustommusic.com users:
        Creating the old website and uploading content before its shutdown
      </li>
    </ul>

    <div class="footer">
      <a [href]="repoLink" class="item" mat-icon-button target="_blank">
        <mat-icon fontSet="fa-brands" fontIcon="fa-github"></mat-icon>
      </a>
      <a [href]="telegramLink" class="item" mat-icon-button target="_blank">
        <mat-icon fontSet="fa-brands" fontIcon="fa-telegram"></mat-icon>
      </a>
      <a [href]="mailLink" class="item" mat-icon-button>
        <mat-icon fontSet="fa-solid" fontIcon="fa-envelope"></mat-icon>
      </a>
    </div>
  </div>
</div>