<div class="bar" [@openClose]="toggled">
  <div class="toggle" (click)="onToggle()">
    <mat-icon>{{ toggled ? "expand_more" : "expand_less" }}</mat-icon>
  </div>

  <div class="small-player" *ngIf="!toggled">
    <ng-template [ngTemplateOutlet]="mediaButtons"></ng-template>
    <ng-template [ngTemplateOutlet]="seekBar"></ng-template>
    <ng-template [ngTemplateOutlet]="trackInfo"></ng-template>
  </div>

  <div class="full-player" *ngIf="toggled">
    <div class="controls">
      <div>
        <img class="disk" src="/assets/vinyl.svg" />
      </div>
      <p *ngIf="!playing"> Nothing is playing </p>
      <div class="full-track-info" *ngIf="playing">
        <h4 class="song-name">
          {{playing.name}}
        </h4>
        <p class="game-name">
          {{playing.game_name}}
        </p>
      </div>
      <div>
        <ng-template [ngTemplateOutlet]="seekBar"></ng-template>
      </div>
      <div>
        <ng-template [ngTemplateOutlet]="mediaButtons"></ng-template>
      </div>
    </div>
    <div class="playlist">
      <app-playlist (close)="toggled = false"></app-playlist>
    </div>
  </div>

  <!-- Templates -->
  <ng-template #mediaButtons>
    <span class="media-buttons">
      <button mat-icon-button (click)="toggleShuffle()">
        <mat-icon [class.state-btn-active]="isShuffle" [class.state-btn-inactive]="!isShuffle">shuffle</mat-icon>
      </button>
      <button mat-icon-button (click)="previous()">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button mat-icon-button (click)="playPause()" class="play-pause">
        <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
      </button>
      <button (click)="next()" mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
      <app-loop-selector [loop]="globalLoopSetting" (loopChange)="setLoop($event)"></app-loop-selector>
    </span>
  </ng-template>

  <ng-template #seekBar>
    <span class="seekbar">
      <span class="time time-elapsed">{{ timeElapsed | date : "mm:ss" }}</span>
      <div class="progress-bar">
        @if (this.buffering$ | async) {
        <mat-progress-bar mode="indeterminate" style="width: 120px"></mat-progress-bar>
        } @else {
        <mat-slider>
          <input matSliderThumb [value]="percElapsed()" (click)="seek(elapsedSlider.value)" #elapsedSlider>
        </mat-slider>

        }
      </div>
      <span class="time time-total">{{ timeTotal | date : "mm:ss" }}</span>
    </span>
  </ng-template>

  <ng-template #trackInfo>
    <span class="track-info" *ngIf="playing">
      {{ playing.name }} ({{ playing.uploader }}) · <span class="game-name">{{ playing.game_name }}</span>
    </span>
  </ng-template>
