@import "variables";

.playlist {
  margin-left: 80px;
  max-height: 80vh;
  flex-grow: 1;
  margin-right: 140px;
  margin-top: 24px
}

.state-btn-active {
  opacity: 1;

  &::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    bottom: 5px;
    left: 50%;
    height: 4px;
    width: 4px;
    transform: translateX(-50%);
  }
}

.state-btn-inactive {
  opacity: .3;
}

.bar {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin: auto;
  display: block;
  position: fixed;
}

.toggle {
  float: right;
  right: 42px;
  bottom: 20px;
  height: 20px - 1px;
  border-bottom: none;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  cursor: pointer;
}

.seekbar {
  max-width: 100%;

  .progress-bar {
    display: inline-block;
    text-wrap: nowrap;

    ::ng-deep .mat-mdc-slider .mdc-slider__thumb {
      opacity: 0 !important;
    }

    ::ng-deep .mat-mdc-slider:hover .mdc-slider__thumb {
      opacity: 1 !important;
    }
  }

  .time {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.media-buttons {
  display: flex;
  align-items: center;

  .play-pause {
    scale: 150%;
  }
}

.small-player {
  display: flex;
  flex-direction: row;
  align-items: center;

  .track-info {
    margin-left: 35px;
  }
}

.full-player {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  .controls {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 140px;
  }
}

.disk {
  width: 60%;
  padding-top: 8px;
  padding-bottom: 16px;
}

.full-track-info {
  overflow: hidden;
  text-align: left;
}

.mat-mdc-slider .mdc-slider__track--active_fill {
  border-color: green;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff99ff;
}
