@import "variables";

.playlist {
  margin-left: 80px;
}

.bar {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin: auto;
  display: block;
  position: fixed;
}

.main {
  height: 92%;
  z-index: 90;
}

.toggle {
  float: right;
  right: 42px;
  bottom: 20px;
  height: 20px - 1px;
  border-bottom: none;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  cursor: pointer;
}

.seekbar {
  .progress-bar {
    display: inline-block;
    text-wrap: nowrap;

    .mat-mdc-slider {
      width: 300px;
    }

    ::ng-deep .mat-mdc-slider .mdc-slider__thumb {
      opacity: 0 !important;
    }

    ::ng-deep .mat-mdc-slider:hover .mdc-slider__thumb {
      opacity: 1 !important;
    }
  }

  .time {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.media-buttons {
  .play-pause {
    scale: 150%;
  }
}

.small-player {
  display: flex;
  flex-direction: row;
  align-items: center;

  .track-info {
    margin-left: 35px;
  }
}

.full-player {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  .controls {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    margin-left: 140px;
  }

  .playlist {
    flex-grow: 2;
    margin-right: 140px;
  }
}

.disk {
  width: 60%;
  padding-top: 8px;
  padding-bottom: 16px;
}

.full-track-info {
  overflow: hidden;
  text-align: left;
}

h1,
h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}