<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span class="title" routerLink="/">
      <img class="icon" src="assets/sb-w.png" />
      <span>Smash custom music</span>
    </span>

    <span class="links">
      <a routerLink="/gamelist" routerLinkActive="active">Game list</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </span>

    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="body">
  <router-outlet></router-outlet>
  <app-player></app-player>
</div>
