@import "theme"

.app
  display: flex
  flex-direction: row

  #sidebar, #main
    margin: 8px
    padding: 16px
    border-radius: 16px
    background-color: $card-bg

  #main
    flex-grow: 3

  #sidebar
    flex-grow: 1
