<div class="container">
  <button class="back" mat-icon-button (click)="onBack()" routerLinkActive="router-link-active">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <app-search-bar></app-search-bar>

  <span class="spacer"></span>
  <app-loading [size]="24" style="align-self: center;"></app-loading>
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-flat-button color="primary" style="align-self: center;" *featureFlag="'login_enabled'">
    <mat-icon>login</mat-icon>
    Login
  </button>

</div>
<div class="content">
  <ng-content></ng-content>
</div>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template matMenuContent>
    <theme-toggle-menu></theme-toggle-menu>

    <button mat-menu-item [routerLink]="'/help'">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

    <button mat-menu-item [routerLink]="'/about'">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </ng-template>
</mat-menu>