<div class="container">
  <button class="back" mat-icon-button (click)="onBack()" routerLinkActive="router-link-active">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="search">
    <mat-icon>search</mat-icon>
    <input type="search" placeholder="What do you want to listen?" />
  </div>

  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-flat-button color="primary" style="align-self: center;" *featureFlag="'login_enabled'">
    <mat-icon>login</mat-icon>
    Login
  </button>

</div>
<div style="height: 100vh; overflow-y: auto;">
  <ng-content></ng-content>
</div>