@import "theme"

$hero-top-margin: 24px

h1
  margin-top: $hero-top-margin

.text-secondary
  color: $text-secondary

.banner
  max-width: 50%
  height: auto

.songlist
  margin-top: 40px
  display: flex
  flex-direction: column

.hero
  display: flex
  flex-direction: row

  .game_art
    padding: $hero-top-margin

  .description
    color: $text-secondary

.actions
  display: flex
  flex-direction: row
  align-items: center

  button
    width: 60px
    height: 60px
    padding: 0

  .mat-icon
    font-size: 36px
    width: auto
    height: auto

  .play
    margin-right: 8px
    width: 60px
    height: 60px
    .mat-icon
      font-size: 60px

.content
