@import "variables";

.container {
  display: flex;
  flex-direction: column;

  button {
    margin-right: auto;
    margin-bottom: 4px;
  }

  .sub-button {
    margin-left: 24px;
  }

  .label {
    margin-bottom: 8px;
  }
}

#logo {
  content: '';
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 12px;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 500;
  font-size: 22pt;
  letter-spacing: -1.5px;

  img {
    height: 32pt;
    width: auto;
  }
}