<ng-container *ngIf="song">
  <p class="title">Song details</p>
  <div class="song-id">{{ song.song_id }}</div>

  <div class="download">
    <p>Download</p>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Format</mat-label>
        <mat-select [(value)]="selectedDownloadType">
          <mat-option *ngFor="let type of downloadTypes" [value]="type">
            {{ downloadTypesMap[type] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="onDownload()">
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>

  <ul>
    <li *ngFor="let key of keys">
      <ng-container *ngIf="keyTitles[key] as val">
        <ng-container [ngSwitch]="val.type" *ngIf="getField(key)">
          <div class="title">{{ val.value }}</div>
          <ng-container *ngSwitchCase="'string'">
            <div class="value">{{ getField(key) }}</div>
          </ng-container>
          <ng-container *ngSwitchCase="'bool'">
            <mat-checkbox
              [checked]="getField(key)"
              disabled="true"
            ></mat-checkbox>
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            <div class="value">{{ getField(key) }}</div>
          </ng-container>
          <ng-container *ngSwitchCase="'time'">
            <div class="value">
              {{ asNumber(getField(key)) * 1e3 | date : "mm:ss" }}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'filesize'">
            <div class="value">{{ asNumber(getField(key)) | filesize }}</div>
          </ng-container>
        </ng-container>
      </ng-container>
    </li>
  </ul>
</ng-container>
